/* Custom styles for the website */
body {
    padding-top: 70px;
}

.hero {
    background: url(hero-image.jpg) center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    padding: 100px 0;
}

.about img {
    max-width: 100%;
}

footer {
    color: #fff;
    background-color: #333;
    padding: 20px 0;
}

#portfolio {
    background-color: #616E7C;
    padding: 100px 0;
}

.card {
    background-color: #857F72;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card2 {
    background-color: #333333;
    transition: transform 0.3s;
}

.card2:hover {
    transform: scale(1.05);
}

.card-text {
  color:  white;
}

body.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}

   .server-row {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
   }
   .server-image {
     width: 50px;
     height: 50px;
     margin-right: 10px;
   }
   .server-info {
     flex-grow: 0.4;
   }
   .join-button {
     margin-left: 10px;
     padding: 5px 10px;
     background-color: #4287f5;
     color: #fff;
     text-decoration: none;
   }
